@import "tailwindcss";

@theme inline {
  --gradient-accent: linear-gradient(93.12deg, #e28101 0%, #6a0dad 111.11%);
  --gradient-accent-dark: linear-gradient(
    93.12deg,
    #b86400 0%,
    #4a0a80 111.11%
  ); /* darker version */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-orange: #fb8c00;
  --color-blue: #16366f;
  --font-allison: "Allison", cursive;
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid orange; */
  }
  .font-allison {
    font-family: var(--font-allison);
  }

  .font-poppins {
    font-family: var(--font-poppins);
  }

  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .container-sm {
    max-width: 1400px;
    margin: 0 auto;
    @apply px-4 sm:px-8;
  }

  h2 {
    @apply text-[32px] font-semibold text-[#000000] leading-[100%];
  }
}

@layer utilities {
  .bg-accent {
    background: var(--gradient-accent);
  }

  /* hover state */
  .hover-bg-accent:hover {
    background: var(--gradient-accent-dark);
  }
  body {
    overflow-x: hidden;
    font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
    background-color: #0A1F44;
  }
  .progressBar::-webkit-slider-runnable-track {
    appearance: #ffffff80;
    width: 100px;
  }
  .hero-bg {
    background-image: url("/images/mobile-contact.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .medium-bg {
    background-color: red;
    /* background-image: url("/images/Hero.png"); */
    background-size: contain;
    background-repeat: repeat;
    background-position: bottom center;
  }
  .my-element {
    border: 1px solid; /* fallback if gradient not supported */
    border-image-slice: 1; /* necessary to make the gradient appear */
    border-image-source: linear-gradient(
      94.03deg, 
      rgba(255, 255, 255, 0.2) 0%, 
      rgba(255, 255, 255, 0.8) 112.64%
    );
  }
  .scroller__inner {
    display: flex;
    gap: 4px;
  }  
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 10s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
  @media (min-width: 430px) {
    .pb-430s {
      padding-bottom: 160px;
    }
  }
  @media (min-width:430px){
    .mb-230s {
      margin-bottom:80px;
    }
  }
}

@layer utilities {
  .hide-scroll {
    -ms-overflow-style: none;  /* IE, Edge */
    scrollbar-width: none;     /* Firefox */
  }
  .hide-scroll::-webkit-scrollbar {
    display: none;             /* Chrome, Safari */
  }

  .input-class {
    @apply h-12 w-full rounded-lg border-[#00000033]  px-4 py-3 text-[#000000E5] hover:border focus:border-[2px] focus:bg-white focus:outline-none;
  }
}
